
* {box-sizing: border-box;}
ul {list-style-type: none;}
body{
  background: #32363b;
  font-family: tahoma;
  color: #989898;
}
.title {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

.title ul {
  margin: 0;
  padding: 0;
}

.title ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.title .prev {
  float: left;
  padding-top: 10px;
}

.title .next {
  float: right;
  padding-top: 10px;
}

.desc {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.desc li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}


button{
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: rgb(0, 255, 221);
  cursor: pointer;
  font-size: 18px;
}

.todo{
  padding: 100px;
}